body{
    background: url("5.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.homeText{
    text-align: center;
    font-size: 2em;
}

@font-face {
    font-family: Alfa Slab One;
    src: url(AlfaSlabOne-Regular.ttf);
}

.first{
    font-size: 5em;
    font-family: Alfa Slab One;
    padding-top: 1.5in;
    padding-bottom: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    display: inline-block;
    letter-spacing: 5px;

}

.first1{
    color: #E4D4C8;
	text-shadow: -2px 2px 0 #A47551,
				  2px 2px 0 #A47551,
				 2px -2px 0 #A47551,
                 -2px -2px 0 #A47551;
}

.second{
    color: #A47551;
}

#third{
    text-align: center;
    font: size 25px;;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    display:flow-root;
}

h1 span{
    transition: .5s linear
  }
  h1:hover span:nth-child(1){
    margin-right: 25px
  }
  h1:hover span:nth-child(2){
    margin-right: 20px
  }
  h1:hover span:nth-child(3){
    margin-right: 15px
  }
  h1:hover span:nth-child(4){
    margin-right: 15px
  }
  h1:hover span:nth-child(5){
    margin-left: 9px;
  }
  h1:hover span:nth-child(6){
    margin-left: 20px
  }
  h1:hover span{
    text-shadow: 0 0 10px #523A28,
                 0 0 20px #523A28, 
                 0 0 40px #523A28;
  }